{% extends 'base.html' %}

{% block menu %}
<div class="top_menu">


    {% if request.user.is_authenticated %}
        <div class="login_field">{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</div>
        <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
         {% csrf_token %}
         <button type="submit" class="btn btn-link">Выйти</button>
       </form>
    {% else %}
        <div class="login_field"><a href="{% url 'login' %}?next={{ request.path }}">Войти</a></div>
    {% endif %}
</div>
{% endblock %}